*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f56fde, #17a3be);
}

.wrapper{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    max-width: 450px;
}

.wrapper h1{
   font-size: 50px;
   text-align: center;
   margin-bottom: 25px;
}

.input-box{
    position: relative;
    width: auto;
    height: 50px;
    background: rgb(253, 253, 253);
    margin: 30px 0; 
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 20px;
    color: rgb(5, 5, 5);
    padding: 20px 45px 20px 20px;
}

.input-box input ::placeholder{
    color: black;
    font-size: 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}   

.user-role{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    margin: 20px 0;
    color: rgb(6, 6, 7);
}

.user-role label {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.user-role input[type="radio"] {
    accent-color: black;
}

.user-role label:hover {
  background-color: #f0f0f0;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin: 15px 0 15px;   
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 12px;
    background: rgb(97, 81, 240);
    border-radius: 40px;
    outline: white;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn:hover {
  background-color: #452f6a;
}

.register{
    text-align: center;
    font-size: 15px;
    margin: 20px 0 15px;
}

.register a {
    color: black;
    text-decoration: underline;;
}